---
import Base from "@layouts/Base.astro";
import Page from "@layouts/Page.astro";
---

<Base meta_title="About">
  <Page title="About Me">
    <p>
      If i don't understand everything, I understand nothing.<br/>
      My mind always focuses on the obscur part. Mystery is my worst enemy.<br/>
      I choose science because i want to understand.<br/>
      Everything.<br/> 
      I cannot compromise on knowledge. I need to understand the whole concept.<br/>
      How is it working ?<br/>
      Why is it working ? Is there other ways it can work ?<br/>
    </p>

    <p>
      I need to go down to the smallest element, the ground zero, the origin or the empty canvas.<br/>
      Starting from the level zero, is the only way to truly understand,<br/>
      and when you truly understand is when you really build.<br/>
      Science is not magic, you can't bullshit your way in, probably why i love it so much.<br/>
    </p>

    <p>
      AI, deep learning, machine learning and software engineering is science,<br/>
      we call it computer science and, <br/>
      When you leave a room for mystery or obscurity in computer science, <br/>
      it becomes so hard to understand, that it starts to look like witchcraft. <br/>
      When you don't start from ground zero,<br/> 
      when you ignore the atom and start from the composition,<br/>
      you can bet it will be complex. The composition is indeed very complex.<br/>
    </p>

    <p>
      Here we start from ground zero, we go in the code line by line,<br/>
      the function inside the class that you call from some library that some guy made, <br/>
      we understand the math behind it, and how we went from vectors and arithmetic to lines of code, to fully functioning mechanism.<br/>
      We listen to every instrument alone, we hear every note from that instrument.<br/>
      Any other way, and it’s not music, its just noise.
    </p>

    <p>
      My name is Mohammed, I'm the founder of Ground Zero,<br/>
      I've been a software engineer and computer scientist for nearly a decade, <br/>
      i’ve worked with Big companies with products that serves millions of users (Coca-Cola, Veolia, Shell), <br/>
      and i’ve also built products with small teams that started with one user and ended up serving a hundred thousand (sometimes all at once). <br /> 
      And if you’re anything like me,<br/>
      if you don’t like the obscure and the mysterious in your science,<br/>
      then you are going to enjoy it here.<br/>
      Welcome to ground zero.
    </p>
  </Page>
</Base>
